<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>Play and win</title>
  </head>
  <body>
    <div class="logo">
      <div></div>
    </div>
    <div class="text">
      It's time to compete <br />
      with your friends
    </div>
    <div class="create-an-account">
      <a href="login">create an account</a>
    </div>
    <div class="line outline"></div>
    <div class="social-account">
      <a href="login"><i class="fab fa-facebook-f"></i></a>
      <a href="login"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="line"></div>
    <div class="have-an-account">
      Alreday have an account? <a href="login">Sign In</a>
    </div>
    <script
      src="https://kit.fontawesome.com/8254f1fa07.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
